@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-foreground-rgb: 0, 0, 0;
  --light-background-start-rgb: 214, 219, 220;
  --light-background-end-rgb: 255, 255, 255;

  --dark-foreground-rgb: 255, 255, 255;
  --dark-background-start-rgb: 0, 0, 0;
  --dark-background-end-rgb: 128, 0, 128; /* Morado oscuro */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: var(--light-foreground-rgb);
    --background-start-rgb: var(--light-background-start-rgb);
    --background-end-rgb: var(--light-background-end-rgb);
  }
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  :root {
    --foreground-rgb: var(--dark-foreground-rgb);
    --background-start-rgb: var(--dark-background-start-rgb);
    --background-end-rgb: var(--dark-background-end-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width:  83.333333%;;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #cbd5e0;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 1000;
  margin-top: 1.25rem;
  border-sizing: border-box;
}

